@import './variables';

.card {
  background-color: $bg__color__light;
  padding: 1rem;
  .card__content {
    text-align: center;
    .album {
      color: white;
      text-transform: uppercase;
      padding: 1.5rem 0;
    }
    .info__album {
      color: #827e79;
      font-size: 12px;
    } 
  }
}
